* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
        Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    user-select: none;
    border-collapse: collapse;
}

td {
    text-align: center;
    font-size: 2rem;
    border: 7px solid rgb(248, 216, 112);
    width: 100px;
    height: 100px;
}

.controller {
    margin-top: 1rem;
}

#score {
    user-select: none;
}
.color-2 {
    background-color: #eee4da;
    color: #776e65;
}
.color-4 {
    background-color: #eee1c9;
    color: #776e65;
}
.color-8 {
    background-color: #f3b27a;
    color: "white";
}
.color-16 {
    background-color: #f69664;
    color: "white";
}
.color-32 {
    background-color: #f77c5f;
    color: "white";
}
.color-64 {
    background-color: #f75f3b;
    color: "white";
}
.color-128 {
    background-color: #edd073;
    color: #776e65;
}
.color-256 {
    background-color: #edcc62;
    color: #776e65;
}
.color-512 {
    background-color: #edc950;
    color: #776e65;
}
.color-1024 {
    background-color: #edc53f;
    color: #776e65;
}
.color-2048 {
    background-color: #edc22e;
    color: #776e65;
}
