/* ------------------------------- Set Main--------------------------------- */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    min-height: auto;
    min-height: 120vh;
}

main {
    width: 1000px;
    display: flex;
    justify-content: center;
}

.game__wrapper {
    width: 1000px;
    height: 600px;
    display: flex;
    border: 1px solid black;
    border-radius: 3rem;
    box-shadow: 5px 5px 5px black;
}

/* ------------------------------- left screen--------------------------------- */

.game__place {
    width: 500px;
    padding: 2rem;
}

.game__state {
    margin-bottom: 2rem;
}

.state__row {
    display: flex;
    margin-bottom: 0.5rem;
    border: 1px solid black;
    padding: 0.3rem;
}

.strike,
.ball,
.out,
.homerun {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-weight: bold;
}

.strike {
    background-color: yellow;
}
.ball {
    background-color: green;
}
.out {
    background-color: red;
}
.homerun {
    background-color: blue;
}

@keyframes flip-scale-down-hor {
    0% {
        -webkit-transform: scale(1) rotateX(0);
        transform: scale(1) rotateX(0);
    }
    50% {
        -webkit-transform: scale(0.4) rotateX(90deg);
        transform: scale(0.4) rotateX(90deg);
    }
    100% {
        -webkit-transform: scale(1) rotateX(360deg);
        transform: scale(5) rotateX(360deg) translateX(200px);
    }
}

.victory {
    -webkit-animation: flip-scale-down-hor 1s ease-in-out both;
    animation: flip-scale-down-hor 1s ease-in-out both;
}

/* .homerun:nth-child(2) {
    -webkit-animation: flip-scale-down-hor 1s ease-in-out both;
    animation: flip-scale-down-hor 1s ease-in-out both;
} */

.game__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game__form .number__input {
    display: flex;
    gap: 1rem;
}

.game__form input {
    width: 50px;
    height: 50px;
}

/* .form__option {
} */

/* ------------------------------- right screen--------------------------------- */

.game__status {
    padding: 2rem;
    width: 500px;
}

table {
    width: 100%;
    border: none;
}

table tr td:nth-child(1) {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

table tr td:nth-child(2) {
    width: 400px;
    font-size: 1.2rem;
}
